<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackbee.glassboxfree"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.software.live_wallpaper"/>

    <supports-screens
        android:largeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.jackbee.glassboxfree.Launcher"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:configChanges="orientation|screenSize" >

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <service
            android:name="com.jackbee.glassboxfree.CrystalLiveWallpaperFree"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:thumbnail="@drawable/icon"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter
                android:priority="1" >

                <action
                    android:name="android.service.wallpaper.WallpaperService" >

                </action>

            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />

        </service>

        <activity
            android:name="com.jackbee.glassboxfree.settings.PrefSettings"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:exported="true">

        </activity>

        <activity
            android:name="com.jackbee.email.Email"
            android:label="@string/email_link"
            android:icon="@drawable/email"
            android:exported="true">

        </activity>

    </application>

</manifest>
